@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply text-zinc-600;
}

.table {
    &.table-compact {
        th, td {
            padding: 0.6rem 0.5rem;
            font-size: 0.70rem;
            line-height: 1rem;
            text-transform: unset !important;
        }
        td {
            line-height: 1.1rem;
        }
    }

    tbody > tr:nth-child(even) th,
    tbody > tr:nth-child(even) td {
        background-color: #fafafa;
    }

    tbody > tr:not(.no-hover):hover th,
    tbody > tr:not(.no-hover):hover td {
        @apply bg-blue-50 border-blue-200/75;
    }

    tbody > tr:not(.no-hover).selected th,
    tbody > tr:not(.no-hover).selected td {
        @apply bg-blue-50 border-blue-200/75;
    }
}

.tooltip:before {
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    font-weight: normal;
}

.btn {
    @apply no-animation;
}

.tabs {
    .tab {
        @apply w-full px-2 text-zinc-500 tab-bordered transition-colors;

        &:hover {
            @apply text-primary duration-300;
        }
    }
    .tab-active {
        @apply text-primary border-primary border-b-3 font-medium;
    }
}
