@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply text-zinc-600;
}

#hero-bg {
    background-color: #d2dfff;
}

.table {
    &.table-compact {
        th, td {
            padding: 0.5rem 0.35rem;
            font-size: 14px;
            line-height: 1rem;
            text-transform: unset !important;
        }

        td {
            line-height: 1.1rem;
        }
    }

    tbody > tr:nth-child(even) th,
    tbody > tr:nth-child(even) td {
        background-color: #fafafa;
    }

    tbody > tr:not(.no-hover):not(.purchased):hover th,
    tbody > tr:not(.no-hover):not(.purchased):hover td {
        @apply bg-blue-50 border-blue-200/75;
    }

    tbody > tr.purchased {
        th, td {
            @apply bg-green-50 border-green-200/75;
        }
        &:hover th,
        &:hover td {
            @apply bg-green-100/75;
        }
    }

    tbody > tr:not(.no-hover).selected th,
    tbody > tr:not(.no-hover).selected td {
        @apply bg-blue-50 border-blue-200/75;
    }
}

.tooltip:before {
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    font-weight: normal;
}

.btn {
    @apply no-animation;
}

.tabs {
    .tab {
        @apply w-full px-2 text-zinc-500 tab-bordered transition-colors;

        &:hover {
            @apply text-primary duration-300;
        }
    }

    .tab-active {
        @apply text-primary border-primary border-b-3 font-medium;
    }
}

.sidebar {
    will-change: min-height;
}

.sidebar__inner {
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

@screen xl {
    #sidebar-container {
        #content {
            width: calc(75% - 0.75rem);
        }

        #sidebar {
            width: calc(25% - 0.75rem);
        }
    }
}

ul.red-dots li {
    line-height: 25px;
    padding-left: 25px;
    margin-bottom: 10px;
}

ul.red-dots li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 25px;
    margin-left: -25px;
    padding-right: 25px;
}

.reveal.scale-in {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.4s ease-out;
    transition-delay: 0.4s;
}
.reveal.scale-in.shown {
    opacity: 1;
    transform: none;
}

.reveal.fade-in-left {
    opacity: 0;
    transform: translateX(-7px);
    transition: all 0.4s ease-out;
    transition-delay: 0.1s;
}
.reveal.fade-in-left.shown {
    opacity: 1;
    transform: none;
}

.reveal.fade-in-right {
    opacity: 0;
    transform: translateX(7px);
    transition: all 0.4s ease-out;
    transition-delay: 0.1s;
}
.reveal.fade-in-right.shown {
    opacity: 1;
    transform: none;
}

.required:after {
    content: '*';
    color: #dc2626;
    opacity: 0.75;
    font-weight: bold;
    margin-left: 3px;
    font-size: 0.9rem;
}

.swiper-button-disabled {
    @apply opacity-50;
}
